html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Montserrat', sans-serif;
  color: #2B2F3B;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
  color: #2B2F3B;
}
h2 {
  font-size: 2.9rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.container {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 1.25% 15px;
  background: #ffffff;
  background: linear-gradient(180deg, #ffffff 98%, rgba(88, 135, 249, 0.3) 100%);
}
@media (max-width: 500px) {
  .container {
    max-width: 500px;
  }
}
header {
  width: 100%;
  height: 70px;
  padding: 20px 1.25px 15px;
  display: flex;
  flex-direction: row;
  background-color: white;
  align-items: center;
  z-index: 98;
}
.logo-container {
  width: 300px;
}
@media (max-width: 500px) {
  .logo-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.logo-container .logo {
  display: block;
  width: 100%;
}
@media (max-width: 500px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.navbar .menu {
  width: 25px;
  height: 25px;
  display: none;
}
@media (max-width: 500px) {
  .navbar .menu {
    display: block;
    width: 30px;
  }
}
@media (max-width: 500px) {
  .navbar .links-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
  }
}
.navbar .links-wrapper a {
  padding-right: 10px;
  padding-left: 10px;
  color: #2B2F3B;
  text-decoration: none;
  font-size: 1.25rem;
  transition: 0.5s ease;
}
.navbar .links-wrapper a:hover {
  text-decoration: underline;
}
.navbar .links-wrapper .sign-up {
  padding: 8px;
  border-radius: 5px;
  background-color: #5574F7;
  color: #FFFFFF;
  transition: 0.5s ease;
}
@media (max-width: 500px) {
  .navbar .links-wrapper .sign-up {
    padding: 0px;
    border-radius: 0px;
  }
}
.navbar .links-wrapper .sign-up:hover {
  background-color: white;
  color: #2B2F3B;
}
@media (max-width: 500px) {
  .navbar .links-wrapper .sign-up {
    background-color: #FFFFFF;
    color: #2B2F3B;
  }
}
@media (max-width: 500px) {
  .hidden {
    display: none;
  }
}
.sticky {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  max-width: 950px;
}
.sticky .navbar {
  padding-right: 10px;
}
.sticky + .content {
  padding-top: 100px;
}
@media (max-width: 500px) {
  .none {
    display: none;
  }
}
@media (max-width: 500px) {
  .hamburger-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 70px;
    background: white;
    position: fixed;
    top: 0;
  }
}
@media (max-width: 500px) {
  .hamburger-wrapper .hamburger-links {
    text-decoration: none;
    padding: 10px;
    width: 100%;
    border: 1px solid #2B2F3B;
  }
}
.cta-section {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}
@media (max-width: 500px) {
  .cta-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.cta-section .cta-wrapper {
  width: 47%;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
@media (max-width: 500px) {
  .cta-section .cta-wrapper {
    width: 98%;
    text-align: center;
  }
}
.cta-section .cta-wrapper .cta-text > h2 {
  color: #2B2F3B;
}
.cta-section .cta-wrapper .cta-text > p {
  margin-bottom: 5px;
}
.cta-section .cta-wrapper .cta-buttons {
  margin-top: 20px;
}
@media (max-width: 500px) {
  .cta-section .cta-wrapper .cta-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.cta-section .cta-wrapper .cta-buttons .cta {
  background-color: #5574F7;
  color: #FFFFFF;
  width: 45%;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.25rem;
  padding: 15px;
  margin-bottom: 15px;
  text-align: center;
  transition: 0.5s ease;
}
.cta-section .cta-wrapper .cta-buttons .cta:hover {
  background-color: white;
  color: #2B2F3B;
  cursor: pointer;
  text-decoration: underline;
}
.cta-section .cta-wrapper .cta-buttons .color {
  background-color: #f7d855;
  color: #2B2F3B;
}
.cta-section .front-img-container {
  width: 52%;
  height: 100%;
}
@media (max-width: 500px) {
  .cta-section .front-img-container {
    margin-top: 20px;
    width: 98%;
  }
}
.cta-section .front-img-container img {
  box-shadow: 0.05px 0.05px 1px 1px rgba(76, 82, 100, 0.2);
}
.features-section {
  margin-top: 120px;
}
.features-section .features-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .features-section .features-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.features-section .features-content {
  width: 40%;
  padding-bottom: 50px;
  text-align: center;
}
@media (max-width: 500px) {
  .features-section .features-content {
    width: 98%;
  }
}
.features-section .features-content .features {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features-section .features-content .features .img-container {
  width: 90%;
  height: 260px;
}
@media (max-width: 500px) {
  .features-section .features-content .features .img-container {
    width: 60%;
  }
}
.features-section .features-content .features-text {
  vertical-align: text-bottom;
}
.fadeIn {
  animation-name: slideIn;
  animation-duration: 1.5s;
}
.hide {
  visibility: hidden;
}
.picSlider {
  margin-top: 75px;
  text-align: center;
}
.picSlider h2 {
  padding-bottom: 20px;
}
.picSlider .picSlider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.picSlider .picSlider-wrapper .slider-container {
  width: 80%;
}
.picSlider .picSlider-wrapper .slider-container .transparent-wrapper {
  background-color: #4c5264;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .picSlider .picSlider-wrapper .slider-container .transparent-wrapper {
    height: 400px;
  }
}
.picSlider .picSlider-wrapper .slider-container .transparent-wrapper .slider {
  width: 100%;
  height: 350px;
}
.picSlider .picSlider-wrapper .slider-container .transparent-wrapper .slider .slider-img {
  padding-bottom: 10px;
  width: 100%;
  height: 80%;
  border-radius: 10px 10px 0px 0px;
  box-shadow: none;
}
.picSlider .picSlider-wrapper .slider-container .transparent-wrapper .slider p {
  margin-top: 0px;
  background-color: #4C5264;
  color: white;
}
.picSlider .picSlider-wrapper .slider-container .transparent-wrapper .slider .slider-buttons {
  vertical-align: center;
}
.picSlider .picSlider-wrapper .slider-container .transparent-wrapper .slider .slider-buttons .slider-button {
  margin: 13px;
  height: 13px;
  width: 8px;
  border-radius: 50%;
}
.picSlider .picSlider-wrapper .slider-container .slider {
  display: none;
}
.picSlider .picSlider-wrapper .slider-container .active {
  display: block;
}
.top-mentors-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
}
.top-mentors-section .top-mentors-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
  text-align: center;
}
@media (max-width: 500px) {
  .top-mentors-section .top-mentors-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.top-mentors-section .top-mentors-wrapper .mentors {
  width: 25%;
}
@media (max-width: 500px) {
  .top-mentors-section .top-mentors-wrapper .mentors {
    width: 98%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.top-mentors-section .top-mentors-wrapper .mentors h4 {
  margin-bottom: 10px;
}
.top-mentors-section .top-mentors-wrapper .mentors .mentor-pic {
  height: 275px;
  margin-bottom: 15px;
}
@media (max-width: 500px) {
  .top-mentors-section .top-mentors-wrapper .mentors .mentor-pic {
    width: 55%;
  }
}
.top-mentors-section .top-mentors-wrapper .mentors .mentor-pic img {
  height: 100%;
  width: 100%;
  box-shadow: 0.05px 0.05px 1px 1px rgba(76, 82, 100, 0.2);
}
.second-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}
.second-cta .cta {
  background-color: #5574F7;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.25rem;
  padding: 20px;
  margin-bottom: 15px;
  transition: 0.5s ease;
}
.second-cta .cta:hover {
  background-color: white;
  color: #2B2F3B;
  cursor: pointer;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}
.footer nav {
  margin-top: 15px;
}
.footer nav a {
  margin-left: 5px;
  margin-right: 5px;
  color: #2B2F3B;
}
.footer .logo-container {
  width: 300px;
}
.footer .logo-container .logo {
  width: 100%;
}
.footer p {
  margin-top: 10px;
  font-size: 1rem;
}
@keyframes slideIn {
  from {
    margin-left: 150%;
    width: 10%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Montserrat', sans-serif;
  color: #2B2F3B;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
  color: #2B2F3B;
}
h2 {
  font-size: 2.9rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.7rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.container {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 1.25% 15px;
  background: #ffffff;
  background: linear-gradient(180deg, #ffffff 98%, rgba(88, 135, 249, 0.3) 100%);
}
@media (max-width: 500px) {
  .container {
    max-width: 500px;
  }
}
header {
  width: 100%;
  height: 70px;
  padding: 20px 1.25px 15px;
  display: flex;
  flex-direction: row;
  background-color: white;
  align-items: center;
  z-index: 99;
}
.logo-container {
  width: 300px;
}
@media (max-width: 500px) {
  .logo-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.logo-container .logo {
  display: block;
  width: 100%;
}
@media (max-width: 500px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.navbar .menu {
  width: 25px;
  height: 25px;
  display: none;
}
@media (max-width: 500px) {
  .navbar .menu {
    display: block;
    width: 30px;
  }
  .navbar .menu:hover {
    cursor: pointer;
  }
}
@media (max-width: 500px) {
  .navbar .links-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
  }
}
.navbar .links-wrapper a {
  padding-right: 10px;
  padding-left: 10px;
  color: #2B2F3B;
  text-decoration: none;
  font-size: 1.25rem;
  transition: 0.5s ease;
}
.navbar .links-wrapper a:hover {
  text-decoration: underline;
}
.navbar .links-wrapper .sign-up {
  padding: 8px;
  border-radius: 5px;
  background-color: #5574F7;
  color: #FFFFFF;
  transition: 0.5s ease;
}
@media (max-width: 500px) {
  .navbar .links-wrapper .sign-up {
    padding: 0px;
    border-radius: 0px;
  }
}
.navbar .links-wrapper .sign-up:hover {
  background-color: white;
  color: #2B2F3B;
}
@media (max-width: 500px) {
  .navbar .links-wrapper .sign-up {
    background-color: #FFFFFF;
    color: #2B2F3B;
  }
}
@media (max-width: 500px) {
  .hidden {
    display: none;
  }
}
.sticky {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  max-width: 950px;
}
.sticky .navbar {
  padding-right: 10px;
}
.sticky + .content {
  padding-top: 100px;
}
@media (max-width: 500px) {
  .none {
    display: none;
  }
}
@media (max-width: 500px) {
  .hamburger-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 70px;
    background: white;
    position: fixed;
    top: 0;
    z-index: 98;
  }
}
@media (max-width: 500px) {
  .hamburger-wrapper .hamburger-links {
    text-decoration: none;
    padding: 10px;
    width: 100%;
    border: 1px solid #2B2F3B;
    color: #2B2F3B;
  }
}
.meet-the-team-header {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-profiles {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  margin-top: 30px;
}
@media (max-width: 500px) {
  .team-profiles {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
.team-profiles .team {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30%;
  margin-top: 5px;
}
.team-profiles .team h5 {
  padding-bottom: 10px;
  width: 200px;
}
.team-profiles .team .img-container {
  width: 112px;
}
.team-profiles .team .img-container img {
  width: 100%;
  height: 130px;
  position: relative;
  box-shadow: 0.05px 0.05px 1px 1px rgba(76, 82, 100, 0.2);
}
.team-profiles .team .img-container img:hover {
  opacity: 0.6;
  transition: 0.5s ease;
  backface-visibility: hidden;
  cursor: pointer;
}
.team-profiles .team .icons {
  width: 50px;
  height: 50px;
  display: flex;
}
.team-profiles .team .icons img {
  margin-right: 1px;
}
.team-profiles .team p {
  margin-top: 10px;
}
.team-profiles .placeholder-hidden {
  visibility: hidden;
}
@media (max-width: 500px) {
  .team-profiles .placeholder-hidden {
    display: none;
  }
}
.hide {
  visibility: hidden;
}
.smallerText {
  font-size: 1.25rem;
  margin-bottom: 5px;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}
.footer nav {
  margin-top: 15px;
}
.footer nav a {
  margin-left: 5px;
  margin-right: 5px;
  color: #2B2F3B;
  text-decoration: none;
}
.footer nav a:hover {
  text-decoration: underline;
}
.footer .logo-container {
  width: 300px;
  margin-top: 35px;
}
.footer .logo-container .logo {
  width: 100% px;
}
.footer p {
  margin-top: 10px;
  font-size: 1rem;
}
