html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Montserrat', sans-serif;
  color: #2B2F3B;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
  color: #2B2F3B;
}
h2 {
  font-size: 2.9rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.container {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 1.25% 15px;
  background: #ffffff;
  background: linear-gradient(180deg, #ffffff 98%, rgba(88, 135, 249, 0.3) 100%);
}
@media (max-width: 500px) {
  .container {
    max-width: 500px;
  }
}
header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
header .logo {
  width: 80px;
  height: 75px;
}
@media (max-width: 500px) {
  header .logo {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 500px) {
  header .navbar {
    z-index: 2;
    position: absolute;
    right: 20px;
    top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
header .navbar .menu {
  width: 45px;
  height: 45px;
  display: none;
}
@media (max-width: 500px) {
  header .navbar .menu {
    display: block;
  }
}
@media (max-width: 500px) {
  header .navbar .links-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
header .navbar .links-wrapper a {
  padding-right: 10px;
  padding-left: 10px;
  color: #2B2F3B;
  text-decoration: none;
  font-size: 1.25rem;
}
@media (max-width: 500px) {
  header .navbar .links-wrapper a {
    margin-top: 10px;
  }
}
header .navbar .links-wrapper span {
  padding: 8px;
  border-radius: 5px;
  background-color: #5574F7;
  color: #FFFFFF;
}
@media (max-width: 500px) {
  header .navbar .links-wrapper span {
    background-color: #FFFFFF;
    color: #2B2F3B;
  }
}
@media (max-width: 500px) {
  header .navbar .hidden {
    display: none;
  }
}
.cta-section {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
@media (max-width: 500px) {
  .cta-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.cta-section .cta-wrapper {
  width: 47%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}
@media (max-width: 500px) {
  .cta-section .cta-wrapper {
    width: 98%;
    text-align: center;
  }
}
.cta-section .cta-wrapper .cta-text > h2 {
  color: black;
}
.cta-section .cta-wrapper .cta-text > p {
  margin-bottom: 5px;
}
.cta-section .cta-wrapper .cta-button {
  border: 2px solid black;
  border-radius: 5px;
  width: 40%;
  padding: 5px;
  margin-top: 20px;
  text-align: center;
}
.cta-section .cta-wrapper .sign-up {
  text-decoration: none;
}
.cta-section .front-img-container {
  width: 52%;
  height: 100%;
}
@media (max-width: 500px) {
  .cta-section .front-img-container {
    margin-top: 20px;
    width: 98%;
  }
}
.cta-section .front-img-container img {
  box-shadow: 0.05px 0.05px 1px 1px rgba(76, 82, 100, 0.2);
}
.features-section {
  margin-top: 150px;
}
.features-section .features-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .features-section .features-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.features-section .features-content {
  width: 40%;
  padding-bottom: 50px;
  text-align: center;
}
@media (max-width: 500px) {
  .features-section .features-content {
    width: 98%;
  }
}
.features-section .features-content .features {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features-section .features-content .features .img-container {
  width: 90%;
}
@media (max-width: 500px) {
  .features-section .features-content .features .img-container {
    width: 60%;
  }
}
.features-section .features-content .features-text {
  vertical-align: text-bottom;
}
.picSlider {
  margin-top: 100px;
  text-align: center;
}
.picSlider h2 {
  padding-bottom: 20px;
}
.picSlider .picSlider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.picSlider .picSlider-wrapper .slider-container {
  width: 80%;
}
.picSlider .picSlider-wrapper .slider-container .transparent-wrapper {
  background-color: #4c5264;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .picSlider .picSlider-wrapper .slider-container .transparent-wrapper {
    height: 400px;
  }
}
.picSlider .picSlider-wrapper .slider-container .transparent-wrapper .slider {
  width: 100%;
  height: 350px;
}
.picSlider .picSlider-wrapper .slider-container .transparent-wrapper .slider .slider-img {
  padding-bottom: 10px;
  width: 100%;
  height: 80%;
  border-radius: 10px 10px 0px 0px;
  box-shadow: none;
}
.picSlider .picSlider-wrapper .slider-container .transparent-wrapper .slider p {
  margin-top: 0px;
  background-color: #4C5264;
  color: white;
}
.picSlider .picSlider-wrapper .slider-container .transparent-wrapper .slider .slider-buttons {
  vertical-align: center;
}
.picSlider .picSlider-wrapper .slider-container .transparent-wrapper .slider .slider-buttons .slider-button {
  margin: 13px;
  height: 13px;
  width: 8px;
  border-radius: 50%;
}
.picSlider .picSlider-wrapper .slider-container .slider {
  display: none;
}
.picSlider .picSlider-wrapper .slider-container .active {
  display: block;
}
.top-mentors-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}
.top-mentors-section .top-mentors-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
  text-align: center;
}
@media (max-width: 500px) {
  .top-mentors-section .top-mentors-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.top-mentors-section .top-mentors-wrapper .mentors {
  width: 25%;
}
@media (max-width: 500px) {
  .top-mentors-section .top-mentors-wrapper .mentors {
    width: 98%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.top-mentors-section .top-mentors-wrapper .mentors .mentor-pic {
  height: 275px;
  margin-bottom: 15px;
}
@media (max-width: 500px) {
  .top-mentors-section .top-mentors-wrapper .mentors .mentor-pic {
    width: 52%;
  }
}
.top-mentors-section .top-mentors-wrapper .mentors .mentor-pic img {
  height: 100%;
  width: 100%;
  box-shadow: 0.05px 0.05px 1px 1px rgba(76, 82, 100, 0.2);
}
.second-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}
.second-cta .cta {
  background-color: #5574F7;
  color: #FFFFFF;
  font-size: 1.25rem;
  padding: 10px;
  margin-bottom: 15px;
}
.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
}
.footer nav {
  margin-top: 15px;
}
.footer nav a {
  margin-left: 5px;
  margin-right: 5px;
  color: #2B2F3B;
}
.footer .logo {
  width: 80px;
  height: 75px;
  margin-top: 15px;
}
.footer p {
  margin-top: 10px;
  font-size: 1rem;
}
