@import 'variable.less';

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
    font-family: 'Montserrat', sans-serif;
    color:#2B2F3B;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
    color: #2B2F3B;
}
h2 {
  font-size: 2.9rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
    font-size: 2.0rem;
}

h5{
    font-size: 1.7rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}

img{
    width: 100%;
    height: auto;
    border-radius: 10px; 
}


.container {
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 1.25% 15px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 98%, rgba(88,135,249,0.3) 100%);

    @media @phone {
        max-width: 500px; 
    }
  }

  header {
    width: 100%;
    height: 70px; 
    padding: 20px 1.25px 15px; 
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    z-index: 99;
        
    }

  .logo-container{
      width: 300px;
      
      @media @phone{
          display: block;
          margin-left: auto;
          margin-right: auto;
      }

      .logo {
          display: block;
          width: 100%;
      }
  }

  .navbar{

      @media @phone {
          display: flex;
          flex-direction: column;
          align-items: center;
      }

      .menu{
          width: 25px;
          height: 25px; 
          display: none; 

          @media @phone {
              display: block;
              width: 30px;
              
              &:hover{
                cursor: pointer;
              }
          }
      }

      .links-wrapper{
          @media @phone {
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              background: white;
          }
          
          a {
              padding-right: 10px;
              padding-left: 10px;
              color: #2B2F3B;
              text-decoration: none;
              font-size: 1.25rem;
              transition: 0.5s ease; 
              
              }

              a:hover{
                 text-decoration: underline;
              }

          .sign-up {
              padding: 8px;
              border-radius: 5px;
              background-color: #5574F7;
              color: #FFFFFF;
              transition: 0.5s ease;
              
              @media @phone {
                  padding: 0px;
                  border-radius: 0px; 
              }

              &:hover{
                  background-color: white;
                  color: #2B2F3B;
              }

              @media @phone {
                  background-color:#FFFFFF;
                  color: #2B2F3B;
              }
          }
      }

  }
      



.hidden{
  @media @phone {
  display: none;
  }
}

.sticky {
  position: fixed;
  display: flex; 
  justify-content: space-between;
  top: 0;
  max-width: 950px; 

  .navbar{
      padding-right: 10px; 
  }
}

.sticky + .content {
  padding-top: 100px; 
}

.none{
  @media @phone{
      display: none; 
  }
}

.hamburger-wrapper{
  @media @phone {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      margin-top: 70px;
      background:white; 
      position: fixed;
      top: 0; 
      z-index: 98;
  }
  .hamburger-links{
      @media @phone {
      text-decoration: none;
      padding: 10px;
      width: 100%;
      border: 1px solid  #2B2F3B;
      color:  #2B2F3B
      }
  }
}

.meet-the-team-header{
    margin-top: 150px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.team-profiles{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center; 
    margin-top: 30px; 

    @media @phone {
        display: flex; 
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .team{
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: center; 
        width: 30%; 
        margin-top: 5px; 

        h5{
            padding-bottom: 10px; 
            width: 200px;
        }
        .img-container{
            width: 112px;

            img{
                width: 100%; 
                height: 130px;
                position: relative;
                box-shadow: .05px .05px 1px 1px rgba(76, 82, 100, 0.2);
                &:hover{
                    opacity: .60;
                    transition: .5s ease;
                    backface-visibility: hidden;
                    cursor: pointer;
                }
            }
        }
        
        .icons{
            width: 50px;
            height: 50px;
            display: flex;
            
            img{
               margin-right: 1px; 
            }
        }

        p{
            margin-top: 10px; 
        }
    }

    .placeholder-hidden{
        visibility: hidden; 

        @media @phone {
            display: none; 
        }
    }
}

.hide{
    visibility: hidden; 
    // display: none; 
}

.smallerText{
    font-size: 1.25rem; 
    margin-bottom: 5px;  
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    margin-top: 40px; 

    nav {
       margin-top: 15px; 

       a {
           margin-left: 5px; 
           margin-right: 5px;
           color: #2B2F3B;
           text-decoration: none; 

           &:hover{
               text-decoration: underline; 
           }
       }
    }

    .logo-container{
        width: 300px; 
        margin-top: 35px; 

        .logo{
            width: 100%px
        }
    }

    p {
        margin-top: 10px; 
        font-size: 1rem; 
    }
}