html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Gibson', sans-serif;
  color:#2B2F3B;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Gibson', sans-serif;
  color: #2B2F3B;
}
h2 {
  font-size: 2.9rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
    font-size: 2.0rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}

img{
    width: 100%;
    height: auto;
}


.container {
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 1.25% 15px;
    // background-color: red;
  }

header {
      padding: 10px;
      display: flex;
      flex-direction: row;
      background-color: white;
      justify-content: space-between;
      align-items: center;
      overflow: hidden; 

    .logo {
        width: 80px;
        height: 75px;
    }

    nav a {
        padding-right: 10px;
        padding-left: 10px;
        color: #2B2F3B;
        text-decoration: none;
        font-size: 1.25rem;
    }
    
    span {
        padding: 8px;
        border-radius: 5px;
        background-color: #5574F7;
        color: #FFFFFF;
    }
}

.cta-section {
    display: flex;
    flex-direction: row;
    margin-top: 40px;

    .cta-wrapper {
        width: 47%;
        display: flex;
        flex-direction: column;
        align-items: center; 
        // text-align: center; 
        margin-right: 10px;
    
        .cta-text > h2 {
            color:black;
        }

        .cta-text > p {
            margin-bottom: 5px;
        }

        .cta-button {
            border: 2px solid black;
            border-radius: 5px;
            width: 40%;
            padding: 5px;
            margin-top: 20px;
            text-align: center;
        }

        .sign-up {
            text-decoration: none;
        }

    }
        .front-img-container {
            width: 52%;
            height: 100%;
        
        .front-img{
            border-radius: 10px; 
        }
    }
}    


.features-section {
    margin-top: 150px;

    .features-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .features-content {
        width: 40%;
        padding-bottom: 50px;
        text-align: center;

        .features {
            display: flex;
            flex-direction: column;
            align-items: center;
        
        .img-container {
            width: 90%;
        }
        }

        .features-text{
            vertical-align: text-bottom;
        }
    }
}

.picSlider {
    margin-top: 100px; 
    text-align: center;

     h2 {
         padding-bottom: 20px; 
     }
    .picSlider-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;

        .slider-container{
            width: 80%;
                .transparent-wrapper{
                    background-color: rgb(76, 82, 100,0.5);
                    border-radius: 10px;
                    .slider {
                        width: 100%;
                        height: 350px;

                        .slider-img{
                            padding-bottom: 10px;
                            width: 100%;
                            height: 80%; 
                            border-radius: 10px 10px 0px 0px;
                            }
                        p {
                            margin-top: 0px;
                            background-color: #4C5264;
                            color: white;
                            border-radius: 5px;
                        }

                        .slider-buttons {
                            vertical-align: center;

                            .slider-button {
                                margin: 13px;
                                height: 13px;
                                width: 8px; 
                                border-radius: 50%;
                            }
                        }
                    }
                }
            .slider {
                display: none;
            }
            
            .active {
                display: block;
            }
        }
    }
}

.top-mentors-section {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 150px; 

    .top-mentors-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 30px; 
        text-align: center; 

        .mentors{
            width: 25%;

            .mentor-pic{
            height: 275px; 
            margin-bottom: 15px; 
            
                img{
                    height: 100%;
                    width: 100%;
                    border-radius: 10px; 
                }
            }
        }
    }
}

.second-cta{
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    margin-top: 50px; 
    
    .cta {
        background-color:#5574F7;
        color: #FFFFFF;
        font-size: 1.25rem; 
        padding: 10px; 
        margin-bottom: 15px; 
    }
}

.footer{
    display: flex;
    flex-direction: column;
    text-align: center; 
    margin-top: 50px; 

    nav {
       margin-top: 15px; 

       a {
           margin-left: 5px; 
           margin-right: 5px;
           text-decoration: none; 
       }
    }
    .logo{
        width: 80px;
        height: 75px;
        margin-top: 10px; 
    }

    p {
        margin-top: 10px; 
        font-size: 1rem; 
    }
}